@import "01-vars.css";

.mce {
    /* this is because some DIVs have already flex display */
    display: block;

    font-size: var(--font-size);
}

.mce * {
    font-size: inherit;
}

.mce p {
    line-height: var(--line-height);
}

.mce ul {

}

.mce ol {

}

.mce li {
    line-height: var(--line-height);
}

.mce pre {
    line-height: var(--line-height);
}

/* there is no H1, nor will be. H1 has always been a page title that is not to be styled by the user. */
.mce h2 {
    line-height: var(--line-height);
    font-size: calc(var(--font-size) * 2.1);
}

.mce h3 {
    line-height: var(--line-height);
    font-size: calc(var(--font-size) * 1.8);
}

.mce h4 {
    line-height: var(--line-height);
    font-size: calc(var(--font-size) * 1.5);
}

.mce h5 {
    line-height: var(--line-height);
    font-size: calc(var(--font-size) * 1.2);
}

.mce h6 {
    line-height: var(--line-height);
    font-size: calc(var(--font-size) * 1);
}